<div class="editSupplierPage">
    <h3 class="md-headline sectionTitle">Search Supplier</h3>
    <div class="animateMessages successBox" ng-show="showSuccessBox">{{successMessage}}</div>
    <div class="animateMessages errorBox" ng-show="showErrorBox">{{errorMessage}}</div>
    <div layout="row">
        <md-input-container class="md-block" flex="30">
            <label>Name</label>
            <input type='text' name="searchSupplierName" ng-model="searchSupplierName" />
        </md-input-container>
        <md-input-container class="md-block" flex="30">
            <label>Initials</label>
            <input type='text' name="searchSupplierInitials" ng-model="searchSupplierInitials" />
        </md-input-container>
        <div flex-offset="5">
	        <md-button type="button" class="md-raised md-primary submitBtn" ng-click="searchSupplier()">SEARCH</md-button>
	    </div>
    </div>
    <div class="clearfix marginT15 searchedResults" ng-show="searchedResults">
        <div class="clearfix searchTable">
            <h4 class="floatL searchResultsTitle">Search results: {{suppliers.length}}</h4>
            <div class="floatR tableActions">
                <a href="javascript:;" tabindex="-1"  class="editBtn" ng-click="editDisabled || edit($index, $event)" 
                   ng-disabled="editDisabled" ng-class="{'disableControl': editDisabled}">Edit</a>
                <a href="javascript:;" tabindex="-1"  class="deleteBtn" ng-click="deleteDisabled || showModal('deleteSupplierModal')" 
                   ng-disabled="deleteDisabled" ng-class="{'disableControl':deleteDisabled}">Delete</a>
               	<input name="searchTableText" type="text" placeholder="Search Table" ng-model="searchTable" /> 
            </div>
        </div>
        <table class="customTable">           
            <thead>
                <tr>
                    <th>
                        <a href="javascript:;" tabindex="-1"  ng-click="sortBy = 'name';
                            sortOrder = !sortOrder">Name
                            <span ng-show="sortBy == 'name' && sortOrder">&#9662;</span>
                            <span ng-show="sortBy == 'name' && !sortOrder">&#9652;</span>
                        </a>
                    </th>
                    <th>
                        <a href="javascript:;" tabindex="-1"  ng-click="sortBy = 'initials';
                            sortOrder = !sortOrder">Initials
                            <span ng-show="sortBy == 'initials' && sortOrder">&#9662;</span>
                            <span ng-show="sortBy == 'initials' && !sortOrder">&#9652;</span>
                        </a>
                    </th>
                    <th>Contact Number</th>
                    <th>Email Id</th>
                    <th class="alignCenter">
		           		 <md-checkbox type='checkbox' aria-label='Select All Suppliers {{$index}}' class="md-primary"
                         	ng-model="selectAll" ng-change="toggleAll()"></md-checkbox>
		            </th>
	            </tr>
            </thead>
            <tbody>
                <tr dir-paginate="supplier in suppliers | orderBy:sortBy:sortOrder | filter:searchTable | itemsPerPage:15 track by $index">
                    <td>{{supplier.name}}</td>
                    <td>{{supplier.initials}}</td>
                    <td>{{supplier.phoneNumber}}</td>
                    <td>{{supplier.emailId}}</td>
                    <td class="alignCenter">
                        <md-checkbox type='checkbox' ng-model="supplier.isChecked" name="isSupplierChecked" ng-change="toggle(supplier)"
                                 aria-label='Select All Suppliers {{$index}}' class='md-primary'></md-checkbox>
                    </td>
                </tr>
            </tbody>
        </table> 
        <!-- Pagination Directive -->
        <div class="clearfix paginationWrapper" dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></div>       
    </div>
    <div class="editForm marginT20" ng-show="editSupplierForm" id="editSupplierForm">
        <h3 class="md-headline sectionTitle">Edit Supplier</h3>
        <form name="editSupplier" ng-submit="submitForm()" novalidate>
            <div layout="row">
                <md-input-container class="md-block" flex="50">
                    <label>*Name</label>
                    <input type='text' minlength="3" maxlength="30" required name="name" ng-model="supplier.name" />
                    <div ng-messages="editSupplier.name.$error" ng-show="editSupplier.name.$touched">
                        <div ng-message-exp="['required', 'minlength', 'maxlength']">This is required. Should be between 3 to 30 characters long.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex="50">
                    <label>*Initials</label>
                    <input maxlength="8" required name="initials" ng-model="supplier.initials" type='text' />
                    <div ng-messages="editSupplier.initials.$error" ng-show="editSupplier.initials.$touched">
                        <div ng-message-exp="['required', 'maxlength']">This is required. Should be max 8 characters long.</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row">  
                <md-input-container class="md-block" flex="50">
                    <label>Contact Number</label>
                    <input maxlength="15" name="phoneNumber" ng-model="supplier.phoneNumber" type='tel' ng-pattern="/^\d{15}$/"/>
                    <div ng-messages="editSupplier.phoneNumber.$error" ng-show="editSupplier.phoneNumber.$touched">
                        <div ng-message-exp="['maxlength', 'pattern']">Should be 15 digits long.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex="50">
                    <label>Email Id</label>
                    <input type="email" maxlength="100" name="emailId" ng-model="supplier.emailId" ng-pattern="/^.+@.+\..+$/"/>
                    <div ng-messages="editSupplier.emailId.$error" ng-show="editSupplier.emailId.$touched">
                        <div ng-message-exp="['maxlength', 'pattern']">Must be less then 100 characters and should be a valid e-mail id.</div>
                    </div>
                </md-input-container>
            </div>
            <div>
                <md-button type="submit" class="md-raised md-primary submitBtn" ng-disabled="editSupplier.$invalid" ng-click="update()">UPDATE</md-button>
            	<md-button type="button" class="md-raised md-warn md-hue-2 resetBtn" ng-click="cancel();">CANCEL</md-button>
            </div>
        </form>
    </div>
</div>
<div class="modal" id="deleteSupplierModal">
    <div class="modalTitle">
        <h4 class>Delete Supplier?</h4>
    </div>
    <div class="modalContent">Are you sure you want to delete the supplier?</div>
    <div class="modalFooter">
        <md-button type="button" class="md-raised md-primary" ng-click="deleteSupplier()">YES</md-button>
        <md-button type="button" class="md-raised md-warn" ng-click="hideModal('deleteSupplierModal')">NO</md-button>
    </div>
</div>