<div class="editProductPage">
    <h3 class="md-headline sectionTitle">Search Product</h3>
    <div class="animateMessages successBox" ng-show="showSuccessBox">{{successMessage}}</div>
    <div class="animateMessages errorBox" ng-show="showErrorBox">{{errorMessage}}</div>
    <div layout="row">
        <md-input-container class="md-block" flex="25">
            <label>Product Code</label>
            <input type='text' name="searchProductCode" ng-model="searchProductCode" ng-keypress="triggerSearchProduct($event)" />
        </md-input-container>
        <div flex-offset="5">
	        <md-button type="button" class="md-raised md-primary submitBtn" ng-click="searchProduct()">SEARCH</md-button>
	    </div>
    </div>    
    <div class="clearfix searchedResults" ng-show="searchedResults">
        <div class="clearfix searchTable marginB10">            
            <div class="floatR">
                <input name="searchTableText" type="text" placeholder="Search Table" ng-model="searchTable" />
            </div>
        </div>
        <div class="clearfix">
            <h4 class="floatL inlineBlock paddingT5">Search results: {{products.length}}</h4>
            <div class="floatR tableActions">
            	<a href="javascript:;" tabindex="-1" class="showColumns" ng-click="maskColumns = false">Show Columns</a>
                <a href="javascript:;" tabindex="-1" class="maskColumns" ng-click="maskColumns = true">Mask Columns</a>
                <a href="javascript:;" tabindex="-1" class="editBtn" ng-click="editDisabled || edit($index, $event)" 
                   ng-disabled="editDisabled" ng-class="{'disableControl': editDisabled}">Edit</a>
                <a href="javascript:;" tabindex="-1" class="deleteBtn" ng-click="deleteDisabled || showModal('deleteProductModal')" 
                   ng-disabled="deleteDisabled" ng-class="{'disableControl':deleteDisabled}">Delete</a>
            </div>
        </div>
        <table class="customTable">           
            <thead>
                <tr>
                    <th>
                        <a href="javascript:;" tabindex="-1" ng-click="sortBy = 'productCode';
                            sortOrder = !sortOrder">Product Code
                            <span ng-show="sortBy == 'productCode' && sortOrder">&#9662;</span>
                            <span ng-show="sortBy == 'productCode' && !sortOrder">&#9652;</span>
                        </a>
                    </th>
                    <th>Price Per Item</th>
                    <th>Pkg./Ctn.</th>
                    <th>CBM</th>                    
                    <th>Gross Weight</th>
                    <th>Product Description</th>
                    <th>MOQ</th>
                    <th>PM</th>
                    <th ng-hide="maskColumns">Supplier Initials</th>
                    <th>Supplier Product Code</th>
                    <th>Is Valid</th>
                    <th ng-hide="maskColumns">A. Cost</th>
                    <th class="alignCenter">
            			<md-checkbox type='checkbox' aria-label='Select All Products {{$index}}' class="md-primary"
                         ng-model="selectAll" ng-change="toggleAll()"></md-checkbox>
            		</th>
            	</tr>
            </thead>
            <tbody>
                <tr dir-paginate="product in products | orderBy:sortBy:sortOrder | filter:searchTable | itemsPerPage:20 track by $index">
                    <td>{{product.productCode}}</td>
                    <td>{{getSupplierPrices(product.supplierProductInfoList)}}</td>
                    <td>{{product.cartoonQuantity}}</td>
                    <td>{{product.cbm}}</td>                    
                    <td>{{product.weight}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.moq}}</td>
                    <td>{{product.defaultMarginPercentage | number:3}}</td>
                    <td ng-hide="maskColumns">{{getSupplierInitials(product.supplierProductInfoList)}}</td>
                    <td>{{getSupplierProductCode(product.supplierProductInfoList)}}</td>
                    <td>{{product.isValid ? 'Yes' : 'No'}}</td>
                    <td ng-hide="maskColumns">{{product.cost | number:3}}</td>
                    <td class='alignCenter'>
                        <md-checkbox type='checkbox' ng-model="product.isChecked" name="isProductChecked" ng-change="toggle(product)"
                                 aria-label='Select All Products {{$index}}' class='md-primary'></md-checkbox>
                    </td>
                </tr>
            </tbody>
        </table> 
        <!-- Pagination Directive -->
        <div class="clearfix paginationWrapper" dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></div>
    </div>
    <div class="editForm marginT20" ng-show="editProductForm" id="editProductForm">
        <h3 class="md-headline sectionTitle">Edit Product</h3>
        <form name="editProduct" ng-submit="submitForm()" novalidate>
	        <div layout="row">
	            <md-input-container class="md-block" flex="25">
	                <label>*Product code</label>
	                <input type='text' required name="productCode" ng-model="product.productCode" />
	                <div ng-messages="editProduct.productCode.$error" ng-show="editProduct.productCode.$touched">
	                    <div ng-message-exp="['required']">This is required.</div>
	                </div>
	            </md-input-container>
	            <md-input-container class="md-block" flex="25">
	                <label>*Cartoon quantity</label>
	                <input min="1" required name="cartoonQuantity" ng-model="product.cartoonQuantity" type='number'/>
	                <div ng-messages="editProduct.cartoonQuantity.$error" ng-show="editProduct.cartoonQuantity.$touched">
	                    <div ng-message-exp="['required']">This is required.</div>
	                </div>
	            </md-input-container>
	            <md-input-container class="md-block" flex="25">
	                <label>*CBM</label>
	                <input required placeholder="0.000" name="cbm" ng-model="product.cbm" type='text' ng-pattern="/^[0-9]+(\.[0-9]{1,3})?$/"/>
	                <div ng-messages="editProduct.cbm.$error" ng-show="editProduct.cbm.$touched">
	                    <div ng-message-exp="['required', 'pattern']">This is required. Can be 3 decimals long.</div>
	                </div>
	            </md-input-container>
	        </div>
	        <div layout="row">
	        	<md-input-container class="md-block" flex="25">
	                <label>*Weight</label>
	                <input required placeholder="0.000" name="weight" ng-model="product.weight" type='text' ng-pattern="/^[0-9]+(\.[0-9]{1,3})?$/"/>
	                <div ng-messages="editProduct.weight.$error" ng-show="editProduct.weight.$touched">
	                    <div ng-message-exp="['required', 'pattern']">This is required. Can be 3 decimals long.</div>
	                </div>
	            </md-input-container>
	            <md-input-container class="md-block" flex="25">
	                <label>*Description</label>
	                <input type='text' required name="description" ng-model="product.description" />
	                <div ng-messages="editProduct.description.$error" ng-show="editProduct.description.$touched">
	                    <div ng-message-exp="['required']">This is required.</div>
	                </div>
	            </md-input-container>
	            <md-input-container class="md-block" flex="25">
	                <label>*MOQ</label>
	                <input min="0" max="999" required name="moq" ng-model="product.moq" type='number'/>
	                <div ng-messages="editProduct.moq.$error" ng-show="editProduct.moq.$touched">
	                    <div ng-message-exp="['required', 'min', 'max']">This is required. Should be between 0-999.</div>
	                </div>
	            </md-input-container>
	            <md-input-container class="md-block" flex="25">
	                <label>*Default margin</label>
	                <input type='number' required placeholder="0.000" name="defaultMarginPercentage" ng-pattern="/^-?[0-9]+(\.[0-9]{1,3})?$/" 
	                	ng-model="product.defaultMarginPercentage" ng-blur="updateProductMargin()" />
	                <div ng-messages="editProduct.defaultMarginPercentage.$error" ng-show="editProduct.defaultMarginPercentage.$touched">
	                    <div ng-message-exp="['required', 'pattern']">This is required. Can be between -9 & 9 and 3 decimals long.</div>
	                </div>
	            </md-input-container>
	        </div>
	        <div layout="row">
				<md-input-container class="md-block" flex="50">
			        <label>*Supplier initials</label>
			        <md-select name="supplierInitials1" ng-model="product.supplierProductInfoList[0].supplierInitials" required>
			          <md-option ng-repeat="si in allSupplierInitials" value="{{si.abbrev}}">
			            {{si.abbrev}}
			          </md-option>
			        </md-select>
			        <div ng-messages="editProduct.supplierInitials1.$error" ng-show="editProduct.supplierInitials1.$touched">
                    	<div ng-message-exp="['required']">This is required.</div>
                	</div>
	      		</md-input-container>
	            <md-input-container class="md-block" flex="50">
	                <label>*Supplier product code</label>
	                <input type='text' name="supplierProductCode1" ng-model="product.supplierProductInfoList[0].supplierProductCode" required />
	                <div ng-messages="editProduct.supplierProductCode1.$error" ng-show="editProduct.supplierProductCode1.$touched">
                    	<div ng-message-exp="['required']">This is required.</div>
                	</div>
	            </md-input-container>
	            <md-input-container class="md-block" flex="25">
	                <label>*Price Per Item</label>
	                <input required placeholder="0.000" name="supplierPrice1" ng-model="product.supplierProductInfoList[0].supplierPrice" type='text' ng-pattern="/^[0-9]+(\.[0-9]{1,3})?$/"/>
	                <div ng-messages="editProduct.supplierPrice1.$error" ng-show="editProduct.supplierPrice1.$touched">
	                    <div ng-message-exp="['required', 'pattern']">This is required. Can be 3 decimals long.</div>
	                </div>
	            </md-input-container>
	        </div>
	        <div layout="row">
				<md-input-container class="md-block" flex="50">
			        <label>Supplier initials</label>
			        <md-select name="supplierInitials2" ng-model="product.supplierProductInfoList[1].supplierInitials">
			          <md-option ng-repeat="si in allSupplierInitials" value="{{si.abbrev}}">
			            {{si.abbrev}}
			          </md-option>
			        </md-select>
	      		</md-input-container>
	            <md-input-container class="md-block" flex="50">
	                <label>Supplier product code</label>
	                <input type='text' name="supplierProductCode2" ng-model="product.supplierProductInfoList[1].supplierProductCode"/>
	            </md-input-container>
	            <md-input-container class="md-block" flex="25">
	                <label>Price Per Item</label>
	                <input placeholder="0.000" name="supplierPrice2" ng-model="product.supplierProductInfoList[1].supplierPrice" type='text' ng-pattern="/^[0-9]+(\.[0-9]{1,3})?$/"/>
	                <div ng-messages="editProduct.supplierPrice2.$error" ng-show="editProduct.supplierPrice2.$touched">
	                    <div ng-message-exp="['pattern']">Can be 3 decimals long.</div>
	                </div>
	            </md-input-container>
	        </div>
	        <div layout="row">
				<md-input-container class="md-block" flex="50">
			        <label>Supplier initials</label>
			        <md-select name="supplierInitials3" ng-model="product.supplierProductInfoList[2].supplierInitials">
			          <md-option ng-repeat="si in allSupplierInitials" value="{{si.abbrev}}">
			            {{si.abbrev}}
			          </md-option>
			        </md-select>
	      		</md-input-container>
	            <md-input-container class="md-block" flex="50">
	                <label>Supplier product code</label>
	                <input type='text' name="supplierProductCode3" ng-model="product.supplierProductInfoList[2].supplierProductCode"/>
	            </md-input-container>
	            <md-input-container class="md-block" flex="25">
	                <label>Price Per Item</label>
	                <input placeholder="0.000" name="supplierPrice3" ng-model="product.supplierProductInfoList[2].supplierPrice" type='text' ng-pattern="/^[0-9]+(\.[0-9]{1,3})?$/"/>
	                <div ng-messages="editProduct.supplierPrice3.$error" ng-show="editProduct.supplierPrice3.$touched">
	                    <div ng-message-exp="['pattern']">Can be 3 decimals long.</div>
	                </div>
	            </md-input-container>
	        </div>
			<div layout="row">
				<md-input-container class="md-block" flex="50">
				    <md-radio-group layout="row" name="isValid" ng-model="product.isValid">
				    <b>Is Valid:&nbsp;&nbsp;&nbsp;</b>
				      <md-radio-button value="true" class="md-primary">Yes</md-radio-button>
				      <md-radio-button value="false" class="md-warn">No</md-radio-button>
				    </md-radio-group>
			    </md-input-container>
			</div>
	        <div>
                <md-button type="submit" class="md-raised md-primary submitBtn" ng-disabled="editProduct.$invalid" ng-click="update()">UPDATE</md-button>
                <md-button type="button" class="md-raised md-warn md-hue-2 resetBtn" ng-click="cancel();">CANCEL</md-button>
            </div>
        </form>
    </div>
</div>
<div class="modal" id="deleteProductModal">
    <div class="modalTitle">
        <h4 class>Delete Product?</h4>
    </div>
    <div class="modalContent">Are you sure you want to delete the product?</div>
    <div class="modalFooter">
        <md-button type="button" class="md-raised md-primary" ng-click="deleteProduct()">YES</md-button>
        <md-button type="button" class="md-raised md-warn" ng-click="hideModal('deleteProductModal')">NO</md-button>
    </div>
</div>