<div class="buildOrderPage" id='buildOrderPage'>
    <div class="animateMessages successBox" ng-show="showSuccessBox">{{successMessage}}</div>
    <div class="animateMessages errorBox" ng-show="showErrorBox">{{errorMessage}}</div>
    <h3 class="md-headline sectionTitle">Build Order</h3>
    <div layout="row" class="paddingB10 bottomDashedBorder">
        <md-input-container flex="20">
            <label>Customer</label>
            <md-select ng-model="customerShipmark" md-on-close='showSearchSection()'>
                <md-option ng-repeat="customer in customers" value="{{customer.shipmark}}">
                    {{customer.name + " - " + customer.shipmark}}
                </md-option>
            </md-select>
        </md-input-container>  
        <div class="datepickerContainer" flex="30" flex-offset="5">
            <label>Order Date</label>
            <md-content>
                <md-datepicker ng-model="orderDate" md-placeholder="Select date" md-open-on-focus></md-datepicker>
            </md-content>
        </div>
    </div>
    <div layout="row" class="marginT10 paddingB10" ng-show="searchProductSection" id="searchProductSection">
        <div flex="30">
            <md-autocomplete flex
                             md-input-name="autocompleteProductField"
                             md-input-minlength="1"
                             md-input-maxlength="18"
                             md-no-cache=false
                             md-selected-item="searchedProduct"
                             md-selected-item-change="getProductDetails()"
                             md-search-text="searchText"
                             md-items="product in querySearch(searchText)"
                             md-item-text="product.productCode"
                             md-floating-label="Search Product"
                             md-select-on-match=true>
                <md-item-template>
                    <span md-highlight-text="searchText">{{product.productCode}}</span>
                </md-item-template>
            </md-autocomplete>
        </div>
    </div>
    <form name="selectedProductDetails" novalidate>
    <div class="animateSection bottomDashedBorder" ng-show="productDetailsSection" id="productDetailsSection">
        <h3 class="md-headline sectionTitle">Product Details</h3>
        <div layout="row">
            <md-input-container class="md-block" flex="25">
                <label>Product Code</label>
                <input type='text' name="productCode" ng-model="productDetails.productCode" ng-readonly="true" />
            </md-input-container>
            <md-input-container class="md-block" flex="25">
                <label>Supplier Initials</label>
                <md-select ng-model="productDetails.supplierInitials">
                    <md-option ng-repeat="supplier in productDetails.supplierProductInfoList" value="{{supplier.supplierInitials}}">{{supplier.supplierInitials}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex="25">
                <label>Price Per Item</label>
                <input type='text' name="pricePerPiece" ng-model="productDetails.price" ng-readonly="true" />
            </md-input-container>
            <md-input-container class="md-block" flex="25">
                <label>MOQ</label>
                <input type="text" name="productMOQ" ng-model="productDetails.moq" ng-readonly="true"/>
            </md-input-container>
        </div>
        <div layout="row" layout-align="center stretch">              
            <md-input-container class="md-block" flex="20">
                <label>Cartoon Quantity</label>
                <input type="text" name="cartoonQuantity" ng-model="productDetails.cartoonQuantity" ng-readonly="true" />
            </md-input-container>
            <md-input-container class="md-block" flex="20">
                <label>Quantity</label>
                <input min="1" type="number" name="productQuantity" ng-model="productDetails.productQuantity" />
                <div ng-messages="selectedProductDetails.productQuantity.$error" ng-show="selectedProductDetails.productQuantity.$touched">
                    <div ng-message-exp="['required', 'min']">This is required. Should be more than 0.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex="40">
                <label>Remarks</label>
                <textarea name="remarks" ng-model="productDetails.remarks" maxlength="125"></textarea>
            </md-input-container>
            <div flex="15" flex-offset="5">
                <md-button class="md-raised md-primary submitBtn" ng-click="addProduct()" ng-show="showAddBtn">ADD</md-button>
                <md-button class="md-raised md-primary submitBtn" ng-click="updateAddedProductsListRow()" ng-show="!showAddBtn">UPDATE</md-button>
            </div>
        </div>
    </div>
    </form>
    <div class="animateSection paddingT10 marginB10 bottomDashedBorder" ng-show="addedProductsSection" id="addedProductsSection">
        <h3 class="md-headline sectionTitle">Added Products List</h3>
        <div class="clearfix">
            <h4 class="floatL inlineBlock paddingT5">Products Added: {{productsList.length}}</h4>
            <div class="floatR">
                <a href="javascript:;" class="editBtn" ng-click="editAddedProductsListRow()" 
                   ng-disabled="editDisabled" ng-class="{'disableControl': editDisabled}">Edit</a>
                <a href="javascript:;" class="deleteBtn" ng-click="deleteDisabled || deleteAddedProductsListRow()" 
                   ng-disabled="deleteDisabled" ng-class="{'disableControl':deleteDisabled}">Delete</a>
            </div>
        </div>
        <table class="customTable">           
            <thead>
                <tr>
                    <th>
                        <a href="javascript:;" ng-click="sortType = 'productCode';
                            sortOrder = !sortOrder">Product Code
                            <span ng-show="sortType == 'productCode' && sortOrder">&#9662;</span>
                            <span ng-show="sortType == 'productCode' && !sortOrder">&#9652;</span>
                        </a>
                    </th>
                    <th>
                        <a href="javascript:;" ng-click="sortType = 'supplierCode';
                            sortOrder = !sortOrder">Supplier Code
                            <span ng-show="sortType == 'supplierCode' && sortOrder">&#9662;</span>
                            <span ng-show="sortType == 'supplierCode' && !sortOrder">&#9652;</span>
                        </a>
                    </th>
                    <th>Price Per Item</th>
                    <th>Cartoon Quantity</th>
                    <th>Quantity</th>
                    <th>Remarks</th>
                    <th class='alignCenter'>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="product in productsList | orderBy:sortType:sortOrder | itemsPerPage:10 track by $index" pagination-id="addedProductsList">
                    <td>{{product.productCode}}</td>
                    <td>{{product.selectedSupplierInitials}}</td>
                    <td>{{product.unitCost | currency:"Rs."}}</td>
                    <td>{{product.cartoonQuantity}}</td>
                    <td>{{product.quantity}}</td>
                    <td>{{product.remarks}}</td>
                    <td class='alignCenter'>
                        <md-checkbox type='checkbox' ng-model="product.isChecked" name="isProductChecked" ng-change="toggle(product)"
                         aria-label='Select Product {{$index}}' class='md-primary' ng-disabled="editProductsListRowDisabled"></md-checkbox>
                    </td>                    
                </tr>
            </tbody>            
        </table>
        <!-- Pagination Directive -->
        <div class="clearfix paginationWrapper" dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" pagination-id="addedProductsList"></div> 
        <div layout='row' layout-align='end center' class='marginT10 marginB20'>
            <md-button type="button" class="md-raised md-primary submitBtn" ng-click="submitCart();">SUBMIT</md-button>
            <md-button type="button" class="md-raised md-warn md-hue-2 resetBtn" ng-click="showModal('cancelOrderModal')">CANCEL</md-button>
        </div>
    </div>
    <div class="animateSection orderSummarySection" ng-show="orderSummarySection" id="orderSummarySection">
        <h3 class="md-headline sectionTitle">Customer Order Summary</h3>
        <table class="customTable">           
            <thead>
                <tr>
                    <th>Product Code</th>
                    <th>Supplier Code</th>                    
                    <th>Quantity</th>
                    <th>Customer Specific Product Margin</th> 
                    <th>Cost</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="product in orderSummary.orderItems | itemsPerPage:10 track by $index" ng-class="{'success':product.productMOQ > 2}" pagination-id="orderSummary">
                    <td>{{product.productCode}}</td>
                    <td>{{product.selectedSupplierInitials}}</td>                     
                    <td>
                    <div ng-hide="editOrderSummmaryRow[$index]">{{product.quantity | number}}</div>
                        <div ng-show="editOrderSummmaryRow[$index]">
                            <input type='text' ng-model="product.quantity" placeholder="Quantity" />  
                        </div>
                    </td> 
                    <td>{{product.custProdDiscount | number:2}}</td>
                    <td>{{product.unitCost * product.quantity | currency:"Rs."}}</td>
                    <td class='alignCenter'>
                        <a href="javascript:;" class="editRow" ng-click="editCartRow($index, $event)" 
                           title='Edit Row' ng-hide="editOrderSummmaryRow[$index]"></a>
                        <a href="javascript:;" class="updateRow" ng-click="updateCartRow($index, $event)" 
                           title='Update Row' ng-show="editOrderSummmaryRow[$index]"></a>
                    </td>                    
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th class='alignRight' colspan="6">Grand Total: {{calculateGrandTotal() |currency:"Rs."}}</th>                    
                </tr>
            </tfoot>
        </table>
        <!-- Pagination Directive -->
        <div class="clearfix paginationWrapper" dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" pagination-id="orderSummary"></div>
        <div layout='row' layout-align='end center' class='marginT10'>
            <md-button type="button" class="md-raised md-primary submitBtn" ng-click="saveOrder();">SAVE ORDER</md-button>
            <md-button type="button" class="md-raised md-warn md-hue-2 resetBtn" ng-click="showModal('cancelOrderModal')">CANCEL ORDER</md-button>            
        </div>
    </div>
</div>
<div class="modal" id="cancelOrderModal">
    <div class="modalTitle">
        <h4 class>Cancel Order?</h4>
    </div>
    <div class="modalContent">Canceling the order will reset all the data. 
        Are you sure you want to cancel the order?</div>
    <div class="modalFooter">
        <md-button type="button" class="md-raised md-primary" ng-click="cancelOrder()">YES</md-button>
        <md-button type="button" class="md-raised md-warn md-hue-2" ng-click="hideModal('cancelOrderModal')">NO</md-button>
    </div>
</div>