html,body{
    min-height: 100%;
    height: 100%;
    background-color: rgb(63,81,181);    
}

*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    margin:0;
    padding:0;
}

a{
    text-decoration:none;
    color:rgba(255,255,255,1);
    cursor:pointer;
    display:inline-block;
}

ul,ol{list-style:none;}

.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    clear: both;
    display:block;
}

.clear{clear: both;}

.floatL{float:left;}
.floatR{float:right;}
.marginB10{margin-bottom: 10px;}
.marginB15{margin-bottom: 15px;}
.marginL25{margin-left: 25px !important;}
.marginB20{margin-bottom: 20px;}
.marginT10{margin-top: 10px;}
.marginT15{margin-top: 15px;}
.marginT20{margin-top: 20px;}
.paddingB10{padding-bottom: 10px;}
.paddingT10{padding-top: 10px}
.alignCenter{text-align: center !important;}
.alignRight{text-align: right !important;}
.inlineBlock{display:inline-block;}
.paddingT5{padding-top:5px;}
.paddingB5{padding-bottom:5px;}

.disableControl{
    cursor: not-allowed;
    opacity: 0.5;
    -moz-opacity: 0.5;
    background: #EBEBE4;
    -ms-filter: alpha(opacity=50);
}

.loader {
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index: 5000;
    background: #000 url(../images/loader.gif) no-repeat center center;
    background-size: 50px 50px;
    display: none;
    opacity: 0.5;
}

.loader.show{display: block;}

.md-toolbar-tools h1, .md-toolbar-tools h2, .md-toolbar-tools h3 {
    color:rgba(255,255,255,1);
}

md-input-container {margin: 15px 0;}

md-autocomplete[md-floating-label] md-input-container {
    padding-bottom: 0;
}

md-autocomplete md-autocomplete-wrap md-progress-linear .md-mode-indeterminate {
    top:3px;
}

section[role="main"]{
	min-height: calc(100% - 64px);
}

/*IE 10+ fix for page height */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     section[role="main"]{
		height: calc(100% - 64px);
	}
}

.contentSection{
    min-height: calc(100% - 64px);
    max-height: inherit !important; 
    background-color:#FAFAFA;
}

h3.sectionTitle, h4.sectionTitle{
    border-bottom:1px solid #ccc;    
    margin-bottom:10px;
}

.mainNavWrapper{
    width:200px;
    min-width: 200px;
    max-width: 200px;
    background-color: rgb(63,81,181);
    border-top:1px solid rgb(121,134,203);
}

.mainNav > li{
    float:left;
    width:100%;
    background-color: rgb(63,81,181);
    color:rgba(255,255,255,.90);
}

.mainNav > li a{
    padding:8px 10px;
    display: block;    
}

.mainNav > li ol a{
    padding:10px 8px 10px 30px; 
}

.mainNav > li a:hover,
.mainNav > li a:active,
.mainNav li a.active{
    background-color: rgb(40,53,147);
}

.successBox, .errorBox, .infoBox{
    color:rgba(0,0,0,.8);
    padding: 10px;
    margin:10px 0;
}

.errorBox{
    background: rgb(222,54,65);
}

.successBox{
    background: #72d572;
}

.infoBox{
    background: #40c4ff;
}

.submitBtn, .resetBtn{
    padding:5px 40px;
    font-size:18px;
    margin:0;
}

.submitBtn + .resetBtn{
    margin-left:25px;
}

/* Searched Results Table CSS */
.customTable{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 0;    
}

.customTable tbody tr:nth-child(odd){
    background-color: #ebebeb;
}

.customTable tbody tr.success{
    background-color:#4CAF50 !important;   
}

.customTable thead th,
.customTable tbody td,
.customTable tfoot th{
	font-size:14px;
    padding:5px 5px;
    border:1px solid #ccc;
    text-align:left;
}

.customTable thead th a{
    color: rgba(0, 0, 0, .87);
}

.customTable thead th md-checkbox,
.customTable tbody td md-checkbox{
   max-width:20px;
   margin-bottom:0;
}

.tableActions a{
	color: rgb(16,108,200);
    padding:5px 0 4px 20px;
}

.tableActions a + a{
	margin-left:10px;
}

.editBtn{
    background: url("../images/edit.png") no-repeat left center;
    background-size:15px;
}

.saveBtn{
    background: url("../images/save.png") no-repeat left center;
    background-size:15px;
}

.deleteBtn{
    background: url("../images/delete.png") no-repeat left center;
    background-size:15px;
}

.maskColumns{
    background: url("../images/mask.png") no-repeat left center;
    background-size:15px;
}

.showColumns{
    background: url("../images/unmask.png") no-repeat left center;
    background-size:15px;
}

.editRow{
    background: url("../images/edit.png") no-repeat left center;
    background-size:18px;
    height:18px;
    width:18px;
    color: rgb(16,108,200);
}

.updateRow{
    background: url("../images/update.png") no-repeat left center;
    background-size:18px;
    height:18px;
    width:18px;
    color: rgb(16,108,200);
}

.searchResultCount{
    display:inline-block;
    padding-top:5px;
}

.searchTable input{
    width:300px;
    padding:10px;
    border:1px solid #ccc;
    outline: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* Modal Window CSS */
.modal {
    max-height: 250px;
    width: 500px;
    padding: 0 20px 10px;
    position: fixed;
    border: 2px solid rgb(40,53,147);
    display: none;
    top: 50%;
    left: 50%;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    z-index: 6000;
    background: #fff;
}

.modal .modalTitle {
    padding: 10px 0;
    border-bottom: 1px solid #CCC;
}

.modal .modalContent {
    margin: 15px auto;
    min-height: 50px;
}

.modal .modalFooter {
    border-top: 1px solid #CCC;
    padding-top: 10px;
}

.modal .modalFooter .md-button{
    margin:0 20px 0 0;
}

/* Animate Sections (Searched results, edit form) CSS */
.editForm, .searchedResults,
.animateSection{
    transition: all ease-in-out 500ms;
}

.editForm.ng-hide-remove, .searchedResults.ng-hide-remove, 
.animateSection.ng-hide-remove{ /* While showing */
    opacity:1;
}

.editForm.ng-hide, .searchedResults.ng-hide, 
.animateSection.ng-hide{
    opacity:0;
}

.animateMessages{
    transition: all ease-in-out 100ms;
}

.animateMessages.ng-hide-remove{ /* While showing */
    opacity:1;
}

.animateMessages.ng-hide{
    opacity:0;
}

/* CSS for Pagination */
.paginationWrapper{
    margin: 10px 0;
}

.paginationWrapper .pagination{
    float:right;
}

.pagination>li {float: left;}

.pagination>li:first-child>a{
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination>li:last-child>a{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pagination>li>a{
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination>li>a:focus,
.pagination>li>a:hover{
    background-color: #ebebeb;
}

.pagination>.disabled>a{
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

md-datepicker {background: #FAFAFA;}

.datepickerContainer label{
    display:inline-block;
    margin-left:15px;
    font-size:13px;
}

.bottomDashedBorder{
    border-bottom:2px dashed rgb(63,81,181);
}

.topDashedBorder{
    border-top:2px dashed rgb(63,81,181);
}

.customTable input, .customTable select{
    width:inherit;
    padding:5px;
    border:1px solid #ccc;
    outline: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.dashboardPage .md-whiteframe-5dp{    
    margin:10px 0;
    height: 125px;
    padding:0 15px 0 10px;
    color:#fff;
}

.dashboardPage .md-whiteframe-5dp .md-display-1{    
   font-size:30px;
}

.dashboardPage .md-whiteframe-5dp + .md-whiteframe-5dp{    
    margin-left:50px;
}

.dashboardPage .md-whiteframe-5dp.card-green{
    background-color: #4CAF50;
}

.dashboardPage .md-whiteframe-5dp.card-purple{
    background-color: #673AB7;
}

.dashboardPage .md-whiteframe-5dp.card-orange{
    background-color: #FB8C00;
}

.dashboardPage .md-whiteframe-5dp.card-red{
    background-color: #F44336;
}

.dashboardPage .md-whiteframe-5dp .icon-holder{
    height:65px;
    width:65px;
}

.dashboardPage .md-whiteframe-5dp .icon-holder.currency{
    background:url("../images/coins-2.png") no-repeat center center;
    background-size:65px;
}

.dashboardPage .md-whiteframe-5dp .icon-holder.products{
    background:url("../images/shopping-cart.png") no-repeat center center;
    background-size:65px;
}

.dashboardPage .md-whiteframe-5dp .icon-holder.person{
    background:url("../images/supplier.png") no-repeat center center;
    background-size:65px;
}

.separator{
	position:relative;
	margin:0 auto 15px;
	text-align:center;
	font-size:30px;
}

.separator span:first-child{
	position:absolute;
	width:100%;
	top:50%;
	left:0;
	height:1px;
	background:#ccc;
}

.separator span:last-child{
	position:relative;
	background:#fff;
}

.exportToPDF{
	width: 35px;
    height: 45px;
    margin-right: 20px;
} 