<div class="dashboardPage">
	<h3 class="md-headline sectionTitle">Dashboard</h3>
    <div layout="row">
        <md-whiteframe class="md-whiteframe-5dp card-green" flex="25" layout layout-align="center center">
            <div flex="40" class="icon-holder currency"></div>
            <div flex="60" class="alignCenter">
                <div class="md-display-1">{{dashboard.exchangeRate | currency:"Rs."}}</div>
                <div class="marginT10">ER</div>
            </div>
        </md-whiteframe>
        <md-whiteframe class="md-whiteframe-5dp card-purple" flex="25" layout layout-align="center center">
            <div flex="40" class="icon-holder products"></div>
            <div flex="60" class="alignCenter">
                <div class="md-display-1">{{dashboard.productsCount}}</div>
                <div class="marginT10">Products</div>
            </div>
        </md-whiteframe>
        <md-whiteframe class="md-whiteframe-5dp card-orange" flex="25" layout layout-align="center center">
            <div flex="40" class="icon-holder person"></div>
            <div flex="60" class="alignCenter">
                <div class="md-display-1">{{dashboard.customerCount}}</div>
                <div class="marginT10">Customers</div>
            </div>
        </md-whiteframe>
        <md-whiteframe class="md-whiteframe-5dp card-red" flex="25" layout layout-align="center center">
            <div flex="40" class="icon-holder person"></div>
            <div flex="60" class="alignCenter">
                <div class="md-display-1">{{dashboard.supplierCount}}</div>
                <div class="marginT10">Suppliers</div>
            </div>
        </md-whiteframe>
    </div>
    <h3 class="md-headline sectionTitle marginT20">Global Parameters</h3>
    <div class="successBox animateMessages" ng-show="showSuccessBox">{{successMessage}}</div>
    <div class="errorBox animateMessages" ng-show="showErrorBox">{{errorMessage}}</div>
    <form name="globalParameters" ng-submit="submitForm(globalParameters)" novalidate>
        <div layout="row">
            <md-input-container class="md-block" flex="15">
                <label>*Exchange Rate</label>
                <input type='text' name="exchangeRate" required placeholder="0.000" ng-pattern="/^[0-9]+(\.[0-9]{1,3})?$/"
                       ng-model="global.exchangeRate" ng-readonly="isReadonly" />
                <div ng-messages="globalParameters.exchangeRate.$error" ng-show="globalParameters.exchangeRate.$touched">
                    <div ng-message-exp="['required', 'pattern']">This is required. Can be 3 decimal long.(e.g. - xx.xxx)</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex="15">
                <label>*Per CBM Cost</label>
                <input name="costPerCbm" required placeholder="0.000" ng-model="global.costPerCbm" type='text' 
                	ng-readonly="isReadonly" ng-pattern="/^[0-9]+(\.[0-9]{1,3})?$/" />
                <div ng-messages="globalParameters.costPerCbm.$error" ng-show="globalParameters.costPerCbm.$touched">
                    <div ng-message-exp="['required', 'pattern']">This is required. Can be 3 decimal long.(e.g. - xx.xxx)</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex="20">
                <label>*Per Gross Weight Cost</label>
                <input name="costPerGrossWeight" ng-model="global.costPerGrossWeight" required placeholder="0.000" ng-pattern="/^[0-9]+(\.[0-9]{1,3})?$/"
                       type='text' ng-readonly="isReadonly" />
                <div ng-messages="globalParameters.costPerGrossWeight.$error" ng-show="globalParameters.costPerGrossWeight.$touched">
                    <div ng-message-exp="['required', 'pattern']">This is required. Can be 3 decimal long.(e.g. - xx.xxx)</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex="50">
                <label>*Files Storage Path</label>
                <input name="basePath" ng-model="global.basePath" ng-required="!isReadonly" placeholder="Path" type='text' ng-readonly="isReadonly" />
                <div ng-messages="globalParameters.basePath.$error" ng-show="globalParameters.basePath.$touched">
                    <div ng-message-exp="['required']">This is required.</div>
                </div>
            </md-input-container>
        </div>
        <div>
            <md-button type="button" class="md-raised md-primary submitBtn" 
                       ng-click="edit()" ng-show="showEditBtn" >EDIT</md-button>
            <md-button type="submit" class="md-raised md-primary submitBtn" 
                       ng-show="showSaveBtn" ng-disabled="globalParameters.$invalid">SAVE</md-button>            
            <md-button type="reset" class="md-raised md-warn resetBtn" 
                       ng-click="clear();" ng-show="showClearBtn">CLEAR</md-button>
        </div>
    </form>
</div> 