<div class="placeOrderPage">
    <h3 class="md-headline sectionTitle">Place Order</h3>
    <div class="animateMessages successBox" ng-show="showSuccessBox">Order exported to excel successfully</div>
    <div class="animateMessages errorBox" ng-show="showErrorBox">Order could not be exported to excel. Please try again after some time</div>
    <div class="animateMessages infoBox" ng-show="showInfoBox">Please wait while we import order to excel</div>
    <div class="clearfix marginT15">
        <div class="clearfix searchTable marginB10">            
            <div class="floatR">
                <input name="searchTableText" type="text" placeholder="Search Table" ng-model="searchTable" /> 
            </div>
        </div>
        <div class="clearfix">
            <h4 class="floatL inlineBlock paddingT5 paddingB5">Products pending to be ordered: {{products.length}}</h4>
        </div>
        <table class="customTable">           
            <thead>
                <tr>  
                    <th>
                        <a href="javascript:;" ng-click="sortType = 'supplierInitials';
                            sortOrder = !sortOrder">Supplier Initials
                            <span ng-show="sortType == 'supplierInitials' && sortOrder">&#9662;</span>
                            <span ng-show="sortType == 'supplierInitials' && !sortOrder">&#9652;</span>
                        </a>
                    </th>
                    <th>Supplier Product Code</th>
                    <th>Customers</th>                    
                    <th>
                        <a href="javascript:;" ng-click="sortType = 'productCode';
                            sortOrder = !sortOrder">Product Code
                            <span ng-show="sortType == 'productCode' && sortOrder">&#9662;</span>
                            <span ng-show="sortType == 'productCode' && !sortOrder">&#9652;</span>
                        </a>
                    </th>
                    <th>Product Description</th>
                    <th>MOQ</th>
                    <th>Total Quantity</th>
                    <th>Remarks</th>
                    <th class="alignCenter">
                        <md-checkbox type='checkbox' aria-label='Select All Products' class="md-primary"
                           ng-model="selectAll" ng-change="toggleAll()"></md-checkbox>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="product in products | orderBy:sortType:sortOrder | filter:searchTable | itemsPerPage:20" ng-class="{'success':product.quantity >= product.moq}">                                        
                    <td>{{product.supplierInitials}}</td>
                    <td>{{product.supplierProductCode}}</td>
                    <td>{{product.customerDetails}}</td>
                    <td>{{product.productCode}}</td>
                    <td>{{product.productDescription}}</td>
                    <td>{{product.moq}}</td>
                    <td>{{product.quantity}}</td>
                    <td>{{product.remarks}}</td>
                    <td class="alignCenter">
                        <md-checkbox type='checkbox' ng-model="product.toOrder" name="isProductChecked" ng-change="toggle(product)"
                            aria-label='Select All Product {{$index}}' class='md-primary'></md-checkbox>
                    </td>
                </tr>
            </tbody>
        </table> 
        <!-- Pagination Directive -->
        <div class="clearfix paginationWrapper" dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></div>  
        <div layout='row' layout-align='end center' class='marginT10 marginB20'>
            <md-button type="button" class="md-raised md-primary submitBtn" ng-click="showModal('placeOrderModal')">Place Order</md-button>
        </div>
    </div>    
</div>
<div class="modal" id="placeOrderModal">
    <div class="modalTitle">
        <h4>Confirm Place Order</h4>
    </div>
    <div class="modalContent">Are you sure you want to place the order?</div>
    <div class="modalFooter">
        <md-button type="button" class="md-raised md-primary" ng-click="placeOrder()">YES</md-button>
        <md-button type="button" class="md-raised md-warn md-hue-2" ng-click="hideModal('placeOrderModal')">NO</md-button>
    </div>
</div> 