<div class="updateOrderPage">
    <h3 class="md-headline sectionTitle">Update Orders</h3>
    <div class="animateMessages successBox" ng-show="showSuccessBox">{{successMessage}}</div>
    <div class="animateMessages errorBox" ng-show="showErrorBox">{{errorMessage}}</div>
    <div class="accordionWrapper">
	    <div class="md-accordion" ng-repeat="data in ordersData">
		    <md-toolbar ng-click="isAccordionOpen = !isAccordionOpen">
		        <div class="md-toolbar-tools">
		            <h3 class="md-title" ng-class="isAccordionOpen ? 'collapse' : 'expand'">
		            	Order placed for Supplier {{data.supplierInitials}} on {{data.orderDate | date : "d-MMM-y"}} 
	            	</h3>
		        </div>
		    </md-toolbar>
		    <div class="accordionContent" ng-class="{active:isAccordionOpen}">  
		        <div class="clearfix searchTable">
		            <div class="floatR tableActions">
		            	<a href="javascript:;" tabindex="-1" ng-class="maskColumns ? 'showColumns' : 'maskColumns'" ng-click="maskColumns = !maskColumns">Mask/Unmask Columns</a>             
		                <a href="javascript:;" tabindex="-1" class="editBtn" ng-click="editAll($index)">Edit All</a>
		                <a href="javascript:;" tabindex="-1" class="saveBtn" ng-click="saveAll($index)">Save All</a>
		                <input name="searchTableText" type="text" placeholder="Search Table" ng-model="searchTable" />
		            </div>            
		        </div>     
		        <table class="customTable">           
		            <thead>
		                <tr>
		                    <th>
		                        <a href="javascript:;" tabindex="-1" ng-click="sortType = 'productCode';
		                            sortOrder = !sortOrder">Product Code
		                            <span ng-show="sortType == 'productCode' && sortOrder">&#9662;</span>
		                            <span ng-show="sortType == 'productCode' && !sortOrder">&#9652;</span>
		                        </a>
		                    </th>  
		                    <th ng-hide="maskColumns">
		                    	<a href="javascript:;" tabindex="-1" ng-click="sortType = 'customerInitials';
		                            sortOrder = !sortOrder">Shipmark
		                            <span ng-show="sortType == 'customerInitials' && sortOrder">&#9662;</span>
		                            <span ng-show="sortType == 'customerInitials' && !sortOrder">&#9652;</span>
		                        </a>
	                        </th>
		                    <th>Ordered Qty.</th>
		                    <th>Pending Qty.</th>
		                    <th>Received Qty.</th>
		                    <th class="alignCenter">Action</th>
		                    <th class="alignCenter">
		                    	<md-checkbox type='checkbox' aria-label='Select  All Orders' class="md-primary"
	                       			ng-model="selectAll[$index]" ng-change="toggleAll($index)"></md-checkbox>
		                    </th>
		            	</tr>
		            </thead>
		            <tbody>
		                <tr dir-paginate="order in data.orderDetails | orderBy:sortType:sortOrder | filter:searchTable | itemsPerPage:20 track by $index" pagination-id = "'_' + data.id">
		                    <td>{{order.productCode}}</td>                    
		                    <td ng-hide="maskColumns">{{order.customerInitials}}</td>   
		                    <td>{{order.orderedQuantity}}</td>
		                    <td>{{order.pendingQuantity}}</td>
		                    <td>
		                        <div ng-hide="editTables.editTable{{$parent.$index}}[$index]">{{order.receivedQuantity || 0}}</div>
		                        <div ng-show="editTables.editTable{{$parent.$index}}[$index]">
		                            <input type='number' name="receivedQuantity" ng-model="order.receivedQuantity" min="0" max="999" placeholder="" />  
		                        </div>
		                    </td>
		                    <td class='alignCenter'>
		                        <a href="javascript:;" tabindex="-1" class="editRow" ng-click="editOrderDetails($parent.$index, $index)" 
		                           title='Edit Row' ng-hide="editTables.editTable{{$parent.$index}}[$index]"></a>
		                        <a href="javascript:;" tabindex="-1" class="updateRow" ng-click="updateOrderDetails($parent.$index, $index)" 
		                           title='Update Row' ng-show="editTables.editTable{{$parent.$index}}[$index]"></a>
		                    </td>
		                    <td class="alignCenter">
		                    	<md-checkbox type='checkbox' ng-model="order.isChecked" name="isOrderChecked" ng-change="toggle($parent.$index, $index, order)"
	                            	aria-label='Select Row {{$index}}' class='md-primary'></md-checkbox>
		                    </td>
		                </tr>
		            </tbody>
		        </table> 
		        <!-- Pagination Directive -->
		        <div class="clearfix paginationWrapper" dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" pagination-id = "'_' + data.id"></div>      
		        <div layout='row' layout-align='end center' class='marginT10'>
		            <md-button type="button" class="md-raised md-primary submitBtn" ng-click="showModal('updateOrderModal'); setSupplierForUpdateOrderModal($index, data)">UPDATE</md-button>
		            <md-button type="button" class="md-raised md-warn md-hue-2 resetBtn" ng-click="cancelUpdate($index)">CANCEL</md-button>            
		        </div>
		    </div>
		</div>
	</div>
</div>
<div class="modal" id="updateOrderModal">
    <div class="modalTitle">
        <h4>Update Orders?</h4>
    </div>
    <div class="modalContent">
    	<div>Below is the list of orders you have selected to update:</div> 
    	<div class="marginT15 marginB15">
    		<table class="customTable">           
	            <thead>
	                <tr>
	                    <th>
	                        <a tabindex="-1" ng-click="modalSortType = 'productCode';
	                            modalSortOrder = !modalSortOrder">Product Code
	                            <span ng-show="modalSortType == 'productCode' && modalSortOrder">&#9662;</span>
	                            <span ng-show="modalSortType == 'productCode' && !modalSortOrder">&#9652;</span>
	                        </a>
	                    </th>  
	                    <th>
	                    	<a href="javascript:;" tabindex="-1" ng-click="modalSortType = 'customerInitials';
	                            modalSortOrder = !modalSortOrder">Shipmark
	                            <span ng-show="modalSortType == 'customerInitials' && modalSortOrder">&#9662;</span>
	                            <span ng-show="modalSortType == 'customerInitials' && !modalSortOrder">&#9652;</span>
	                        </a>
                        </th>
	                    <th>Ordered Qty.</th>
	                    <th>Pending Qty.</th>
	                    <th>Received Qty.</th>
	            	</tr>
	            </thead>
	            <tbody>
	                <tr ng-repeat="order in updatedOrder.orderDetails | filter:{isChecked:true} | orderBy:modalSortType:modalSortOrder">
	                    <td>{{order.productCode}}</td>                    
	                    <td>{{order.customerInitials}}</td>  
	                    <td>{{order.orderedQuantity}}</td>
	                    <td>{{order.pendingQuantity}}</td>
	                    <td>{{order.receivedQuantity}}</td>	                    
	                </tr>
	            </tbody>
	        </table> 
    	</div>
        <div class="marginB10">Are you sure you want to update the selected orders?</div>	    
	</div>
	<div class="modalFooter">
        <md-button type="button" class="md-raised md-primary" ng-click="hideModal('updateOrderModal'); updateOrder()"
        	ng-class="{'disableControl':disabledUpdateBtn}" ng-disabled="disabledUpdateBtn">YES</md-button>
        <md-button type="button" class="md-raised md-warn md-hue-2" ng-click="hideModal('updateOrderModal')">NO</md-button>
    </div>
</div>