<div class="addCustomerPage">
    <h3 class="md-headline sectionTitle">Add Customer Form</h3>
    <div class="animateMessages successBox" ng-show="showSuccessBox">Customer added successfully</div>
    <div class="animateMessages errorBox" ng-show="showErrorBox">Customer could not be added. Please try again after some time</div>
    <form name="addCustomer" ng-submit="submitForm(addCustomer)" novalidate>
        <div layout="row">
            <md-input-container class="md-block" flex="50">
                <label>*Name</label>
                <input type='text' minlength="3" maxlength="30" required name="name" ng-model="customer.name" />
                <div ng-messages="addCustomer.name.$error" ng-show="addCustomer.name.$touched">
                    <div ng-message-exp="['required', 'minlength', 'maxlength']">This is required. Should be between 3 to 30 characters long.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex="50">
                <label>*Phone Number</label>
                <input maxlength="10" required name="phoneNumber" ng-model="customer.phoneNumber" type='tel' ng-pattern="/^\d{10}$/"/>
                <div ng-messages="addCustomer.phoneNumber.$error" ng-show="addCustomer.phoneNumber.$touched">
                    <div ng-message-exp="['required', 'maxlength', 'pattern']">This is required. Should be 10 digits long.</div>
                </div>
            </md-input-container>
        </div>
        <div layout="row">       
            <md-input-container class="md-block" flex="33">
                <label>*Email Id</label>
                <input type="email" maxlength="100" required name="emailId" ng-model="customer.emailId" ng-pattern="/^.+@.+\..+$/"/>
                <div ng-messages="addCustomer.emailId.$error" ng-show="addCustomer.emailId.$touched">
                    <div ng-message-exp="['required', 'maxlength', 'pattern']">Your email is the required field. Must be less then 100 characters and should be a valid e-mail id.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex="33">
                <label>*Ship Mark</label>
                <input maxlength="8" required name="shipmark" ng-model="customer.shipmark" />
                <div ng-messages="addCustomer.shipmark.$error" ng-show="addCustomer.shipmark.$touched">
                    <div ng-message-exp="['required', 'maxlength']">This is required. Should be max 8 characters long.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex="33">
                <label>*Customer Margin</label>
                <input type="number" placeholder="0.000" ng-pattern="/^-?[0-9](\.[0-9]{1,3})?$/" required name="additionalMarginPercentage" 
                	ng-model="customer.additionalMarginPercentage" ng-blur="calculateCustomerMargin()" />
                <div ng-messages="addCustomer.additionalMarginPercentage.$error" ng-show="addCustomer.additionalMarginPercentage.$touched">
                    <div ng-message-exp="['required', 'pattern']">This is required. Can be between -9-0-9 and 3 decimals long.</div>
                </div>
            </md-input-container>
        </div>
       	<h4 class="md-title sectionTitle">Address</h4>
        <div layout="row">
            <md-input-container class="md-block" flex="33">
                <label>*Flat No.</label>
                <input type='text' name="flatNo" ng-model="customer.flatNo" required/>
                <div ng-messages="addCustomer.flatNo.$error" ng-show="addCustomer.flatNo.$touched">
                    <div ng-message-exp="['required']">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex="33">
                <label>*Building</label>
                <input type='text' name="building" ng-model="customer.building" required/>
                <div ng-messages="addCustomer.building.$error" ng-show="addCustomer.building.$touched">
                    <div ng-message-exp="['required']">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex="33">
                <label>Street</label>
                <input type='text' name="street" ng-model="customer.street"/>
            </md-input-container>
        </div>  
        <div layout="row"> 
            <md-input-container class="md-block" flex="25">
                <label>Locality</label>
                <input type='text' name="locality" ng-model="customer.locality"/>
            </md-input-container>
            <md-input-container class="md-block" flex="25">
                <label>*City</label>
                <input type='text' name="city" ng-model="customer.city" required/>
                <div ng-messages="addCustomer.city.$error" ng-show="addCustomer.city.$touched">
                    <div ng-message-exp="['required']">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex="25">
                <label>*State</label>
                <input type='text' name="state" ng-model="customer.state" required/>
                <div ng-messages="addCustomer.state.$error" ng-show="addCustomer.state.$touched">
                    <div ng-message-exp="['required']">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex="25">
                <label>*Zip</label>
                <input type='text' name="zip" ng-model="customer.zip" maxlength="6" required ng-pattern="/^\d{6}$/" />
                <div ng-messages="addCustomer.zip.$error" ng-show="addCustomer.zip.$touched">
                    <div ng-message-exp="['required', 'maxlength', 'pattern']">This is required. Should be 6 digits long.</div>
                </div>
            </md-input-container>
        </div>
        
        <div>
            <md-button type="submit" class="md-raised md-primary submitBtn" ng-disabled="addCustomer.$invalid">ADD</md-button>
            <md-button type="reset" class="md-raised md-warn resetBtn" ng-click="reset();">CLEAR</md-button>
        </div>
    </form>
</div>