<div class="allCPMsPage" id="allCPMsPage">
    <h3 class="md-headline sectionTitle">All CPMs</h3>
    <div class="animateMessages errorBox" ng-show="showErrorBox">CPMs could not be retrieved. Please try again after some time</div>
    <div layout="row">
        <md-input-container class="md-block" flex="25">
            <label>Product Code</label>
            <input type='text' name="searchProductCode" ng-model="searchProductCode" ng-keypress="triggerSearchProduct($event)" />
        </md-input-container>
        <div flex-offset="5">
            <md-button type="button" class="md-raised md-primary submitBtn" ng-click="searchProduct()">SEARCH</md-button>
        </div>
    </div>    
    <div class="clearfix searchedResults" ng-show="searchedResults">    
        <div class="clearfix searchTable">      
            <h4 class="floatL searchResultsTitle">Search results: {{products.length}}</h4>
            <div class="floatR">
	            <input name="searchTableText" type="text" placeholder="Search Table" ng-model="searchTable" /> 
	        </div>
        </div>        
        <div class="CPMTable clearfix">
        	<div>
		        <table class="customTable">
		            <thead>
		                <tr>
		                   <th>
		                       <a href="javascript:;" tabindex="-1" ng-click="sortType = 'productCode';
		                           sortOrder = !sortOrder">Product Code
		                           <span ng-show="sortType == 'productCode' && sortOrder">&#9662;</span>
		                           <span ng-show="sortType == 'productCode' && !sortOrder">&#9652;</span>
		                       </a>
		                   </th>  
			           	</tr>
		            </thead>
		            <tbody>
		                <tr dir-paginate="product in products | orderBy:sortType:sortOrder | filter:searchTable | itemsPerPage:20 track by $index">
		                    <td>{{product.productCode}}</td>
		                </tr>
		            </tbody>
		        </table>
	        </div>
		    <div class="rightDiv">
		        <table class="customTable">
		            <thead>
		            	<tr>
		                    <th ng-repeat="product in products">{{product.productCode}}</th>
		                </tr>
		            </thead>
		            <tbody>
		                <tr dir-paginate="product in products | orderBy:sortType:sortOrder | filter:searchTable | itemsPerPage:20 track by $index">
		                    <td ng-repeat="product in products">{{product.defaultMarginPercentage}}</td>
		                </tr>
		            </tbody>
		        </table>
		    </div>
		</div>
        <!-- Pagination Directive -->
        <div class="clearfix paginationWrapper" dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></div>
    </div>    
</div>