<div class="allCPMsPage" id="allCPMsPage">
    <h3 class="md-headline sectionTitle">All CPMs</h3>
    <div class="animateMessages errorBox" ng-show="showErrorBox">CPMs could not be retrieved. Please try again after some time</div>
    <div layout="row">
	    <div flex="30">
            <md-autocomplete flex md-input-id="autocompleteProductField"
                             md-input-name="autocompleteProductField"
                             md-input-minlength="1"
                             md-input-maxlength="50"
                             md-no-cache=false
                             md-selected-item="searchedProduct"
                             md-selected-item-change="getProductCPM()"
                             md-search-text="searchText"
                             md-items="product in querySearch(searchText)"
                             md-item-text="product.productCode"
                             md-floating-label="Search Product"
                             md-select-on-match=true>
                <md-item-template>
                    <span md-highlight-text="searchText">{{product.productCode}}</span>
                </md-item-template>
            </md-autocomplete>
        </div>
        <div flex-offset="5">
            <md-button type="button" class="md-raised md-primary submitBtn" ng-click="getProductCPM()">SEARCH</md-button>
        </div>
    </div>    
    <div class="clearfix searchedResults" ng-show="searchedResults">    
        <div class="clearfix searchTable">      
            <div class="floatL searchResultsTitle">	        	   
	            <h4 class="inlineBlock">Search results: {{allCPMs.length}}</h4>
            </div>
            <div class="floatR tableActions">
	            <input name="searchTableText" type="text" placeholder="Search Table" ng-model="searchTable" /> 
	        </div>
        </div>      
        <table class="customTable">
            <thead>
                <tr>
                   <th>
                       <a href="javascript:;" tabindex="-1" ng-click="sortType = 'shipmark';
                           sortOrder = !sortOrder">Customer Shipmark
                           <span ng-show="sortType == 'shipmark' && sortOrder">&#9662;</span>
                           <span ng-show="sortType == 'shipmark' && !sortOrder">&#9652;</span>
                       </a>
                   </th>
                   <th>
                       <a href="javascript:;" tabindex="-1" ng-click="sortType = 'CPM';
                           sortOrder = !sortOrder">CPM
                           <span ng-show="sortType == 'CPM' && sortOrder">&#9662;</span>
                           <span ng-show="sortType == 'CPM' && !sortOrder">&#9652;</span>
                       </a>
                   </th>  
	           	</tr>
            </thead>
            <tbody>
                <tr dir-paginate="customer in allCPMs | orderBy:sortType:sortOrder | filter:searchTable | itemsPerPage:15 track by $index">
                    <td>{{customer.shipmark}}</td>
                    <td>{{customer.discount}}</td>
                </tr>
            </tbody>
        </table>
        <!-- Pagination Directive -->
        <div class="clearfix paginationWrapper" dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></div>
    </div>    
</div>